<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Услуги', services_path %></li>
      <li><%= link_to 'Edit Service', edit_service_path(@service) %></li>
    </ol>
  </div>
</div>

<div class="container">
  <h1>Editing Service</h1>

  <%= render 'form', service: @service %>

  <%= link_to 'Show', @service %> |
  <%= link_to 'Back', services_path %>
</div>