<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to t('navigation.breadcrambs.main'), root_path %></li>
      <li><%= link_to t('navigation.breadcrambs.services'), services_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container services_list">
  <div class="row">
    <% @service_decorators.each do |service_decorator| %>
      <div class="col-sm-6 col-xs-12">
        <div class="card mb-4">
          <%= service_decorator.service_preview_img_thumbnail %>
          <div class="card-body">
            <p class="card-text centered" style="height: 84px; overflow: hidden; max-width: 360px; margin: 0 auto;">
            <%= service_decorator.preview %>
            </p>
            <div class="centered">
              <div class="btn-group">
                <%= service_decorator.link_to_show %>
                <%= service_decorator.link_to_edit %>
                <%= service_decorator.link_to_destroy %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <%= link_to t('services.new.add_service'), new_service_path, class: "btn btn-sm btn-outline-danger" if user_signed_in? %>
</div>

