<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Услуги', services_path %></li>
      <li><%= link_to @service_decorator.title, service_path(@service_decorator.id) %></li>
    </ol>
  </div>
</div>

<div class="container service">
  <div class="row">
    <div class="col-md-8 article">
      <h1><%= @service_decorator.title %></h1>
      <hr>
      <%= @service_decorator.main_image_header_variant %>
      <div class="card-text">
        <%= @service.description.html_safe %>
      </div>
      <div class="btn-group">
        <%= @service_decorator.link_to_edit %>
        <%= @service_decorator.link_to_destroy %>
        <%= link_to 'Back', services_path, class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>

    <aside class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Сервисы</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% @recommended_services_decorators.each do |service_decorator| %>
              <li>
                <%= link_to service_path(service_decorator.id) do %>
                  <h4><%= service_decorator.title %></h4>
                  <p class="list-group-item-text">
                    <%= service_decorator.preview %>
                  </p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>

  </div>
</div>