<%= form_for([@realty.country, @realty], html: {class: "form-horizontal"} ) do |form| %>
  <% if @realty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realty.errors.count, "error") %> prohibited this realty from being saved:</h2>

      <ul>
      <% @realty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :preview_img, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.file_field :preview_img, class: "filestyle", data: {input: "false", badge: 'true', buttonText: "#{t('shared.upload_file')}"} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :images, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.file_field :images, multiple: true, class: "filestyle", data: {input: "false", badge: 'true', buttonText: "#{t('shared.upload_files')}"}%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :title, class: "control-label col-sm-2"  %>
      <div class="col-sm-10">
        <%= form.text_field :title, class: "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= form.label :preview, class: "control-label col-sm-2"  %>
      <div class="col-sm-10">
        <%= form.cktext_area :preview, ckeditor: { language: I18n.locale, height: 250} %>
      </div>
  </div>
  <div class="form-group">
    <%= form.label :description, class: "control-label col-sm-2"  %>
      <div class="col-sm-10">
        <%= form.cktext_area :description, ckeditor: { language: I18n.locale} %>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 action">
      <%= form.submit class: 'btn btn-default'%>
    </div>
  </div>
<% end %>