<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Страны', countries_path %></li>
      <li><%= link_to @country.name, country_realties_path(@country) %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container realties_list">
  <h1>Listing realties</h1>
  <% @realties_decorators.each do |realty_decorator| %>
    <div class="row">
    <div class="col-md-7">
        <%= realty_decorator.main_preview_img %>
    </div>
    <div class="col-md-5">
      <h3><%= realty_decorator.title %></h3>
      <div>
        <%= strip_tags(realty_decorator.preview) %>
      </div>
      <br>
      <div class="btn-group">
        <%= realty_decorator.link_to_show %>
        <%= realty_decorator.link_to_edit %>
        <%= realty_decorator.link_to_destroy %>
      </div>
    </div>
  </div>
    <hr>
  <% end %>

  <%= link_to 'New Realty', new_country_realty_path(params[:country_id]), class: "btn btn-sm btn-outline-danger" if user_signed_in? %>
</div>