<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Проекты', projects_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container projects_list">
    <% @project_decorators.each do |project_decorator| %>
    <div class="row">
      <div class="col-md-7">
        <%= project_decorator.thumbnail_image %>
      </div>
      <div class="col-md-5">
        <h3><%= project_decorator.title %></h3>
        <p class="text-muted"><%= project_decorator.start_datetime %></p>
        <section style="height: 170px; overflow: hidden;">
          <%= project_decorator.preview_text %>
        </section>
        <div class="btn-group">
          <%= project_decorator.link_to_show %>
          <%= project_decorator.link_to_edit %>
          <%= project_decorator.link_to_destroy %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  <%= link_to 'New Project', new_project_path, class: "btn btn-sm btn-outline-danger" if user_signed_in? %>
</div>
