<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Проекты', projects_path %></li>
      <li><%= link_to @project_decorator.title, project_path(@project) %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container">
  <div class="row">
    <article class="col-md-8 project">
      <h1><%= @project_decorator.title %></h1>
      <hr>
      <p class="text-muted"><%= @project_decorator.start_datetime %></p>
      <hr>
      <%= @project_decorator.main_image %>
      <%= @project_decorator.description_text %>
      <hr>
      <div class="btn-group">
        <%= link_to 'Back', projects_path, class: "btn btn-sm btn-outline-secondary" %>
        <%= @project_decorator.link_to_edit %>
        <%= @project_decorator.link_to_destroy %>
      </div>
    </article>

    <aside class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Projects</h4>
        </div>
        <div class="panel-body">
          <ul class="list-inline">
            <% @recommended_projects_decorator.each do |recommended_project_decorator| %>
              <li>
                <%= link_to project_path(recommended_project_decorator.id) do %>
                  <h4><%= recommended_project_decorator.title %></h4>
                  <p class="text-muted"><%= recommended_project_decorator.start_datetime %></p>

                  <p class="list-group-item-text">
                    <%= strip_tags(recommended_project_decorator.preview)%>
                  </p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>