<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Страны', countries_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container">
  <h1>Editing Country</h1>

  <%= render 'form', country: @country %>

  <%= link_to 'Show', @country %> |
  <%= link_to 'Back', countries_path %>
</div>