<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to t('navigation.breadcrambs.main'), root_path %></li>
      <li><%= link_to t('navigation.breadcrambs.countries'), countries_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>

<div class="container countries_list">
  <div class="row">
    <% if !@countries_decorators.blank? %>
      <% @countries_decorators.each do |country_decorator| %>
        <div class="col-sm-12 col-md-6">
          <div class="project_list_item">
            <%= country_decorator.preview_image_thumb %>
            <div class="card-body">
              <p class="card-text centered">
                <%= country_decorator.flag_thumbnail %> <%= country_decorator.name %>
              </p>
              <div class="centered">
                <div class="btn-group centered">
                  <%= country_decorator.link_to_view_realties %>
                  <%= country_decorator.link_to_show %>
                  <%= country_decorator.link_to_edit %>
                  <%= country_decorator.link_to_destroy %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
  <%= link_to t('countries.new.add_country'), new_country_path, class: "btn btn-sm btn-outline-danger" if user_signed_in? %>
</div>