<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to t('navigation.breadcrambs.main'), root_path %></li>
      <li><%= link_to t('navigation.breadcrambs.countries'), countries_path %></li>
      <li><%= link_to t('countries.new.add_country'), new_country_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container">
  <h1><%= t('countries.new.add_country') %></h1>

  <%= render 'form', country: @country %>

  <%= link_to t('shared.back'), countries_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>