<div id="breadcrambs">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Главная', root_path %></li>
      <li><%= link_to 'Страны', countries_path %></li>
    </ol>
  </div>
</div>
<%= flash_messages %>
<div class="container">
  <h1><%= @country_decorator.name %></h1>
  <div class="project_list_item">
    <%= @country_decorator.flag_thumbnail%>
    <div class="card-body">
      <p class="card-text centered">
      </p>
      <p class="card-text centered">
        <%= @country_decorator.description.html_safe %>
      </p>
      <div class="centered">
        <div class="btn-group">
          <%= link_to 'Back', countries_path, class: 'btn btn-sm btn-outline-secondary' %>
          <%= @country_decorator.link_to_view_realties %>
          <%= @country_decorator.link_to_edit %>
          <%= @country_decorator.link_to_destroy %>
        </div>
      </div>
    </div>
  </div>
</div>